* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #7d5a50;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 80px;
}

.top-section {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}

/********************* INPUT SECTION ***********************/
.input-section {
  width: 60%;
  height: auto;
  box-shadow: 0 0 10px #fff;
  padding: 20px;
}

h1 {
  letter-spacing: 0.03em;
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 80px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-bottom: 1px solid white;
  box-shadow: 0px 1px 1px #de1dde;
  font-size: 1.5rem;
  height: 40px;
  padding-left: 5px;
  background: none;
  width: 100%;
  color: white;
}

input:focus {
  outline: none;
  color: white;
}

::placeholder {
  color: white;
}

#error-msg {
  color: red;
  font-size: 12px;
  text-shadow: 1px 1px 1px black;
}

button {
  cursor: pointer;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid#de1dde;
  border-radius: 7px;
  background: none;
  color: inherit;
  margin: 30px 20px 20px 0;
  text-shadow: 2px 2px 4px #000000;
}

button:hover {
  background: #d9e2a8;
  border: none;
}

/********************** SHOW WEATHER SECTION ************************/

.weather-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  color: grey;
  padding: 12px 27px;
  width: 200px;
}

.city-name,
.temperature,
.weahter-description {
  color: rgb(73, 73, 73);
  text-transform: uppercase;
}

.date {
  font-size: 10px;
}

.temperature {
  padding-bottom: 10px;
}

span {
  font-size: 20px;
}

.weather-icon {
  width: 80px;
}
.weahter-description {
  font-weight: bold;
  padding: 10px 0;
}

.detailed-temp {
  font-size: 15px;
}
/********************** SHOW FORECAST SECTION ***********************/
.bottom-section {
  width: 80%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.forecast-card {
  padding: 10px;
  width: 138px;
  font-size: smaller;
}

.forecast-card > h1 {
  font-size: 2.2rem;
  padding-bottom: 0px;
}

.forecast-card > img {
  width: 30px;
}

.forecast-date {
  padding: 0;
  font-size: 0.9rem;
  color: rgb(73, 73, 73);
  font-weight: bold;
}

.forecast-card > h3 {
  padding-top: 15px;
}
